{{>html_header}}

<div id=content class="container">

  <div class="row center">
    <div class="section no-pad-bot" id="index-banner">
      <h1 class="header center orange-text">{{ l.title }}</h1>
      <div class="row left-align"><div id="user_foodinc_top" class="summernote left-align"><div class="progress"><div class="indeterminate"></div></div></div></div>
      <h2 class="header center orange-text motto">{{ l.motto }}</h2>
      <div class="row center"><img class="responsive-img" width="100%" src="{{ cdn }}/img/top.webp" alt="{{ l.title }}"></div>
    </div>
  </div>

  <div class="row">
    <div class="flow-text center">
      {{ l.services }}
    </div>
    <div class="row left-align"><div id="user_foodinc_center" class="summernote left-align"><div class="progress"><div class="indeterminate"></div></div></div></div>
  </div>

  <div class="row center">
    <div class="section">
      <div class="row center">
        <img class="responsive-img" width="100%" src="{{ cdn }}/img/zahlavi.webp" alt="{{ l.title }}">
      </div>
      <div class="divider"></div>
      <div class="col m12 s12">
        <h3>
          {{ l.menu_1 }}
        </h3>
        <div class="row left-align"><div id="user_1" class="summernote left-align"></div></div>
        <div class="row center">
          <div class="col x4 l4 m6 s12">
            <h4>{{ l.service_5 }}</h4><img class="responsive-img" width="100%" src="{{ cdn }}/img/kurzy_optimized.webp" alt="{{ l.service_5 }}">
            {{#l.service_long_5}}
            {{/l.service_long_5}}
            <p>{{ l.service_info_5 }}</p>
          </div>
          <div class="col x4 l4 m6 s12">
            <h4>{{ l.service_6 }}</h4><img class="responsive-img" width="100%" src="{{ cdn }}/img/kuchyne_optimized.webp" alt="{{ l.service_6 }}">
            {{#l.service_long_6}}
            {{/l.service_long_6}}
            <p>{{ l.service_info_6 }}</p>
          </div>
          <div class="col x4 l4 m6 s12">
            {{#langcs}}<a href="https://andini.cz/cs">{{/langcs}}
            {{#langen}}<a href="https://andini.cz/en">{{/langen}}
              <h4>{{ l.service_1 }}</h4><img class="responsive-img" width="100%" src="{{ cdn }}/img/bistro_optimized.webp" alt="{{ l.service_1 }}">
            </a>
            <p>{{ l.service_info_1 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script nonce="{{ csp_nonce }}">
  (function (w, d, undefined) {
    if (w.GSC.init) {

{{^admin_group_admin}}
      // prevent context menu for customers
      w.oncontextmenu = function(e) {
        e.preventDefault();
        e.stopPropagation();
        e.stopImmediatePropagation();
        return false;
      };
{{/admin_group_admin}}

    }
  })(window, document);
</script>

{{>html_footer}}
