<style>
html{min-width:320px!important}

#nav-mobile>li>a{color:#fff!important}

.grid{display:flex!important;flex-wrap:wrap!important;align-content:flex-start!important}
.fa-share-alt-square{font-size:2em}

/* external icons */
{{>external_icons}}

</style>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>{{ l.service_1 }}</h4>
    <p>{{ l.service_long_1 }}</p>
  </div>
  <div class="modal-footer"></div>
</div>

<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>{{ l.service_2 }}</h4>
    <p>{{ l.service_long_2 }}</p>
  </div>
  <div class="modal-footer"></div>
</div>

<div id="modal3" class="modal">
  <div class="modal-content">
    <h4>{{ l.service_3 }}</h4>
    <p>{{ l.service_long_3 }}</p>
  </div>
  <div class="modal-footer"></div>
</div>

<div id="modal4" class="modal">
  <div class="modal-content">
    <h4>{{ l.service_4 }}</h4>
    <p>{{ l.service_long_4 }}</p>
  </div>
  <div class="modal-footer"></div>
</div>

<div id="modal5" class="modal">
  <div class="modal-content">
    <h4>{{ l.service_5 }}</h4>
    <p>{{ l.service_long_5 }}</p>
  </div>
  <div class="modal-footer"></div>
</div>

<div id="modal6" class="modal">
  <div class="modal-content">
    <h4>{{ l.service_6 }}</h4>
    <div class="center">
      <img class="responsive-img" style="margin:1em" width="80%" src="{{ cdn }}/img/kuchyne_detail.jpg"
        alt="{{ l.service_6 }}">
    </div>
    <div class="divider"></div>
    <p>{{ l.service_long_6 }}</p>
  </div>
  <div class="modal-footer"></div>
</div>

<div id="modal7" class="modal">
  <div class="modal-content">
    <h4>{{ l.service_7 }}</h4>
    <p>{{ l.service_long_7 }}</p>
  </div>
  <div class="modal-footer"></div>
</div>

<div id="modal8" class="modal">
  <div class="modal-content">
    <h4>{{ l.service_8 }}</h4>
    <p>{{ l.service_long_8 }}</p>
  </div>
  <div class="modal-footer"></div>
</div>
