<div id="event_menu" class="l6 m12 s12" style="display:none">
  <h2 class="header">{{ l.offer_event }}</h2>
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <h5 id="event_today"></h5>
        <p id="event_name" class="bold center-align" style="font-size:2em;"></p>
        <p id="event_details" class="left-align" style="margin:1em;"></p>
      </div>
      <div class="card-action orange left-align bold">
        <p id="event_footer"></p>
        <div class="right-align" style="font-size:1.5em" id="twitter_event"></div>
      </div>
    </div>
  </div>
</div>

<script>
  (function (w, undefined) {
    if (w.GSC.init) {

      if (!w.GSC.ShowEvent) w.GSC.ShowEvent = function (dateString) {
        $("#event_menu").hide();
        var d = GSC.GetTime(dateString);
        // day header
        $("#event_today").html(d.today_str);
        // cleanup
        $("#twitter_event").html("");
        $("#event_name").html("");
        $("#event_details").html("");
        $("#event_footer").html("");

        $.get("https://foodinc.gscloud.cz/api/v1/GetEventData?" + Date.now(), function (data) {
          var out = 0;
          var dt = data.data;
          GSC.EventsData = dt;

          var cnt=1;
          for (var i = 0, l = dt.length; i < l; i++) {
            if (dt[i].date == d.today) {
              var cas = "";
              if (dt[i].eventStart && dt[i].eventEnd) {
                cas = "(" + dt[i].eventStart + "&mdash;" + dt[i].eventEnd + ")";
              }
              var regurl = "";
              var orgurl = "";
              if (dt[i].registrationUrl) {
                regurl = " <a class=right style='color:black!important' rel=noopener target=_blank href='" +
                  dt[i].registrationUrl + "'><i class='material-icons'>person_add</i></a>";
              }
              if (dt[i].orgUrl) {
                orgurl = " <a class=right style='color:black!important' rel=noopener target=_blank href='" +
                  dt[i].orgUrl + "'><i class='material-icons'>launch</i></a>";
              }
              if ("{{ langen }}") {
                var moreinfo = cnt + ". <i>" + dt[i].eventHost + "</i> " + dt[i].orgName +
                  "&nbsp;&nbsp;(att. fee: CZK&nbsp;" + dt[i].eventFee + ")";
              } else {
                var moreinfo = cnt + ". <i>" + dt[i].eventHost + "</i> " + dt[i].orgName + "&nbsp;&nbsp;(vstupné: " +
                  dt[i].eventFee + "&nbsp;Kč)";
              }
              if ("{{ langen }}") {
                $("#event_name").append(dt[i].titleEn + orgurl + "<br> " + cas + "<hr> ");
                $("#event_details").append(cnt + ". " + dt[i].detailEn + "<hr> ");
              } else {
                $("#event_name").append(dt[i].titleCs + orgurl + "<br> " + cas + "<hr> ");
                $("#event_details").append(cnt + ". " + dt[i].detailCs + "<hr> ");
              }
              $("#event_footer").append(moreinfo + regurl + "<br><br> ");
              out++;
              cnt++;
            }
          }
          if (out) {
            // some magic
            if (parseInt(d.hh) >= 21) return;
            $("#lunch_menu").addClass("col");
            $("#event_menu").slideDown();
            $("#opening_hours").addClass("hidden");
            $("#opening_hours_event").removeClass("hidden");
            twttr.ready(function () {
              GSC.AddTwitterButtonEvent();
            });
          }
        });
      }

      // AddTwitterButtonEvent()
      if (!w.GSC.AddTwitterButtonEvent) w.GSC.AddTwitterButtonEvent = function () {
        var footer;
        if ("{{ langcs }}") {
          footer = " \n{{ l.event_share }}\n";
        }
        if ("{{ langen }}") {
          footer = " \n{{ l.event_share }}\n";
        }
        var text =
          ($("#event_today").text() +
            " \n" + $("#event_name").text() +
            footer);
        if (typeof window.WebShareFactory === "function") $('#event_today').append(WebShareFactory(text));

        twttr.widgets.createShareButton("https://foodinc.cz/{{ lang }}", document.getElementById("twitter_event"), {
          dnt: true,
          hashtags: "foodincubator,brno,akce",
          lang: "{{ lang }}",
          related: "FredBrooker",
          text: text
        }).then(function (el) {
          console.log("Twitter button EVENT");
        });
      }

      // show EVENT
      w.GSC.init.push(function () {
        w.GSC.names.push("show EVENT");
        GSC.ShowEvent();
      });

    }
  })(window);
</script>
