<footer class="page-footer {{ design.footer_color }}" style="font-family:Arial!important;font-size:1.2rem">
  <div class="container">
    <div class="row">

      {{#l.company}}
      <div class="col l6 m6 s12">
        <h5 class="white-text"><i class="material-icons">favorite</i>&nbsp;&nbsp;{{ l.company }}</h5>
        
        {{#l.company_addr}}
          <p class="grey-text text-lighten-4"><i class="material-icons">map</i>&nbsp;&nbsp;{{ l.company_addr }}</p>
        {{/l.company_addr}}

        {{#l.company_mobile}}
          <p class="grey-text text-lighten-4 bold">
            <a href="tel:{{ l.company_mobile }}">
              <i class="material-icons">phone_iphone</i>&nbsp;&nbsp;<span style="border-bottom:2px solid">{{#l.company_mobile_formatted}}{{ l.company_mobile_formatted }}{{/l.company_mobile_formatted}}{{^l.company_mobile_formatted}}{{ l.company_mobile }}{{/l.company_mobile_formatted}}</span></a>
          </p>
        {{/l.company_mobile}}

        {{#l.company_email}}<p class="grey-text text-lighten-4">
          <a class="btn-floating red pulse" href="mailto:{{ l.company_email }}"><i class="material-icons">email</i></a>&nbsp;&nbsp;<a class="white-a" href="mailto:{{ l.company_email }}">{{ l.company_email }}</a>
        {{/l.company_email}}

      </div>
      {{/l.company}}

      {{#l.company}}
      <div class="col l6 m6 s12">
        <h5 class="white-text"><i class="material-icons">group</i>&nbsp;&nbsp;{{ l.company }}</h5>

        {{#l.company_regaddr}}
          <p class="grey-text text-lighten-4">{{ l.company_regaddr }}</p>
        {{/l.company_regaddr}}

        {{#l.company_reg}}
          <p class="grey-text text-lighten-4">{{ l.company_reg }}</p>
        {{/l.company_reg}}

        {{#l.company_id}}
          <p class="grey-text text-lighten-4">{{ l.company_id }}</p>
        {{/l.company_id}}

        <div class="row"></div>
        {{>body_share}}

      </div>
      {{/l.company}}
    </div>
  </div>
  <div class="row">
    {{>google_map}}
  </div>
  {{>gscloud_footer}}
</footer>
